Source: velora-wallpapers
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper (>=9), dde-api
Standards-Version: 4.5.0
Homepage: https://github.com/LingmoOS/velora-wallpapers

Package: lingmo-wallpapers
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: deepin-wallpapers
Replaces: deepin-wallpapers
Breaks: lingmo-desktop-base (<< 5.0.0.lingmo.1)
Description: lingmo wallpapers
 Default wallpapers for lingmo
